          </main>
        </div>
      </div>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                        PAGE FOOTER                           -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <footer class="page-footer">
        <div class="page-footer__vendor-info">
          created by : <a class="page-footer__link" href="http://frontend.menshikov.su">brother ilia</a>
        </div>
      </footer>
      <a class="to-top-arrow" id="to-top" href="#top">
        <i class="to-top-arrow__icon">
          <span class="to-top-arrow__icon-body"></span>
        </i>
      </a>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/script.min.js"></script>
    <script src="js/social-likes.min.js"></script>
  </body>
</html>
