          </main>
        </div>
      </div>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                        PAGE FOOTER                           -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <footer class="page-footer">
        <div class="page-footer__vendor-info">
          created by : <a class="page-footer__link" href="http://frontend.menshikov.su">brother ilia</a>
        </div>
      </footer>
      <a class="to-top-arrow" id="to-top" href="#top">
        <i class="css-icon css-icon--up-arrow">
          <span class="css-icon__body"></span>
        </i>
      </a>
    </div>
    <div class="popup">
      <div class="popup__img js-old-slide"></div>
      <div class="popup__img js-new-slide"></div>
      <div class="popup__wrapper">
        <div class="popup__header"></div>
        <div class="popup__footer"></div>
      </div>
      <button class="popup__btn popup__btn--prev js-prev-img">
        <i class="css-icon css-icon--to-left-triangle">
          <span class="css-icon__body"></span>
        </i>
      </button>
      <button class="popup__btn popup__btn--next js-next-img">
        <i class="css-icon css-icon--to-right-triangle">
          <span class="css-icon__body"></span>
        </i>
      </button>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile.js"></script>
    <script src="js/script.min.js"></script>
    <script src="js/social-likes.min.js"></script>
  </body>
</html>
