          </main>
        </div>
      </div>
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <!--                                                              -->
      <!--                        PAGE FOOTER                           -->
      <!--                                                              -->
      <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
      <footer class="page-footer">
        <div class="page-footer__vendor-info">
          created by : <a class="page-footer__link" href="http://frontend.menshikov.su">brother ilia</a>
        </div>
      </footer>
      <a class="to-top-arrow" id="to-top" href="#top">
        <i class="css-icon css-icon--up-arrow">
          <span class="css-icon__body"></span>
        </i>
      </a>
    </div>
    <div class="img-popup">
      <div class="img-popup__header"></div>
      <div class="img-popup__main"></div>
      <div class="img-popup__footer"></div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/script.min.js"></script>
    <script src="js/social-likes.min.js"></script>
  </body>
</html>
