.page-footer {
  height: 50px;

  @media @mobile-widths {
    box-shadow: @page-footer-shadow;
    border-top-left-radius: @page-footer-radius;
    border-top-right-radius: @page-footer-radius;
  }

  &__vendor-info {
    color: #999999;
    margin-right: 20px;
    text-align: right;
    font-size: @smaller-font-size;
    line-height: @vendor-info-line-height;

    @media @mobile-widths {
      margin-right: 0;
      text-align: center;
      line-height: 50px;
    }
  }

  &__link {
    .link-common--dark();
  }
}
