.color-scheme-button {
  outline: 1px solid red;
  .btn-reset();
  position: absolute;
  left: 208px;
  top: 12px;
  font-size: 0;
  line-height: 0;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }

  @media @mobile-widths {
    position: fixed;
    left: auto;
    right: 18px;
    top: 2px;
    z-index: 2;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 1;
    }
  }
}
