.img-link {
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, .2);
  cursor: pointer;

  &:hover {
    opacity: .3;
    box-shadow: none;
  }

  &:active {
    opacity: .2;
    box-shadow: none;
  }

  @media @mobile-widths {

    &:hover {
      opacity: 1;
      box-shadow: 0 0 30px 5px rgba(255, 255, 255, .2);
    }
    &:active {
      opacity: .2;
      box-shadow: none;
    }
  }

  &--dsbl {
    opacity: .3;
    box-shadow: none;
    cursor: inherit;
    position: relative;

    &:hover,
    &:active {
      opacity: .3;
      box-shadow: none;
    }
  }
}
