.menu-toggle {
  display: none;

  @media @mobile-widths {
    .btn-reset();
    display: block;
    position: fixed;
    left: 22px;
    top: 9px;
    opacity: 0.5;
    z-index: 3;
    cursor: default;

    &:active {
      opacity: 1;
    }
  }
}
